<div class="layout">
  
    <nav class="nav-alignment">
        <a class="logo"> <img class="img-logo" src="assets/logo.png" /> <span class="heading-logo">Indus Hospital</span> <span class="logo-sperator"> | </span> </a>
        
        <a (click)="changeAnatomy(APPCONSTANT.ANATOMY.UNISEX)"> Human Muscular System</a>
        <a>Human Organ System</a>
        <a>Human Skeleton</a>
        <a>Male</a>
        <a>Female</a>
        <a (click)="changeAnatomy(APPCONSTANT.ANATOMY.CHILD)">Child</a>
    </nav>
    <div>logout</div>
</div>