

.layout{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin: auto;
    color: #21489e;
    align-items: center;
    font-weight: 200;
}
.img-logo{
    width: 56px;
    height: 56px;
    vertical-align: middle;
}
.heading-logo{
    color: #ea232a;
    font-weight:500;
    margin-left: 8px;
}
a{
    margin: 8px;
    cursor: pointer;
}
a:hover{
   color: #ea232a;
}

.logo-sperator{
    margin-left: 10px;
}

.active{
    color: #ea232a;
}

.w-4 {
    width: 1rem;
}
.arrow-alignment {
    vertical-align: sub;
}
.logout {
   background-color: #f7fafc;
   padding: 4px;
   border-radius: 3px;
}
.logout:hover{
    background-color: rgb(237,242,247);
    cursor: pointer;
}