@media screen and (max-width:320px) {
    #organswrapper svg {
        height: 340px
    }
}

@media screen and (max-width:400px) and (min-width:321px) {
    #organswrapper svg {
        height: 390px
    }
}

@media screen and (max-width:480px) and (min-width:401px) {
    #organswrapper svg {
        height: 510px
    }
}

@media screen and (max-width:767px) and (min-width:481px) {
    #organswrapper svg {
        height: 570px
    }
}

@media screen and (min-width:768px) {
    #organswrapper svg {
        height: 600px
    }
}

.go_int,
.go_ext,
.go_back,
.go_bck_frontback,
.go_side_frontback,
.go_front {
    fill: #72B8FC;
    opacity: .05;
    -webkit-transition: fill 0.1s ease;
    -moz-transition: fill 0.1s ease;
    -o-transition: fill 0.1s ease;
    transition: fill 0.1s ease;
    cursor: pointer
}

.go_int:hover,
.go_ext:hover,
.go_back:hover,
.go_bck_frontback:hover,
.go_side_frontback:hover,
.go_front:hover {
    opacity: .4
}

.go_bck_frontback,
.go_frt_frontback,
.go_bck_frontback,
.go_side_frontback {
    fill: #72B8FC;
    opacity: .05;
    -webkit-transition: fill 0.1s ease;
    -moz-transition: fill 0.1s ease;
    -o-transition: fill 0.1s ease;
    transition: fill 0.1s ease;
    cursor: pointer
}

.go_bck_frontback:hover,
.go_frt_frontback:hover,
.go_side_frontback:hover {
    opacity: .4
}

#organswrapper {
    background-color: #f0f0f0 !important;
}

.heading-title {
    display: inline-block;
    color: #fff;
    line-height: 40px;
    padding: 0 14px 2px 12px;
    background: rgb(255 0 0 / 63%);
}

#organswrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 0;
    background-color: transparent;
    min-width: 220px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

#organswrapper svg {
    max-height: 100%;
    width: 100%;
    margin: 0
}

#organs-tip {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: none;
    padding: 5px;
    border: 1px solid #404040;
    color: #404040;
    z-index: 1000;
    float: left;
    position: absolute;
    background: rgba(265, 265, 265, .9);
    word-break: keep-all;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}

#organs-tip p {
    margin: 0 !important;
    color: #404040 !important
}

#organs-tip img {
    float: left;
    padding: 3px
}

.dynamic-container {
    width: 80%;
    margin: auto;
    background-color: #f0f0f0;
}

.container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
}

.main {
    width: 70%;
    background-color: #f0f0f0;
}

.left-main {
    width: 30%;
    background-color: #f1f3ff96;
}

.left-main-ul {
    list-style-type: none;
    color: #21489e;
    ;
    margin: 15px;
}

.left-main-ul>li {
    margin-bottom: 10px;
}


ul li::before {
    content: "\2192";
}

.left-main-heading {
    margin: 10px;
    color: #21489e;
}