<app-header></app-header>
<div class="main">
    <div>
        <p class="p-txt">Please select patient information</p>
        <button type="button" class="btn btn-primary mr-10" (click)="selectAge(Age.Child)">0-12</button>
        <button type="button" class="btn btn-primary mr-10" (click)="selectAge(Age.Adolescence)">13-18</button>
        <button type="button" class="btn btn-primary mr-10" (click)="selectAge(Age.Adult)">19-59</button>
        <button type="button" class="btn btn-primary mr-10" (click)="selectAge(Age.Senior_Adult)">60 above</button>
    </div>

    <div [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="flex">
           
            <div class="align-center">
                <div class="form-check">
                    <input class="form-check-input" [value]="GenderType.MALE"  formControlName="gender" type="radio" name="gender" id="flexRadioDefault1">
                    <label class="form-check-label"  for="flexRadioDefault1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" [checked]="true"  [value]="GenderType.FEMALE" formControlName="gender" type="radio" name="gender" id="flexRadioDefault2" >
                    <label class="form-check-label"  for="flexRadioDefault2">
                        Female
                    </label>
                </div>
            </div>
        </div>

        <div class="flex">
            <div class="align-center txt-align ">
                <button type="button" class="btn btn-primary " (click)="onSubmit()"> Next </button>
            </div>
        </div>

    </div>

</div>