/* You can add global styles to this file, and also import other style files */
/* primary color */

// PRIMARY COLOUR
 //#ea232a First 
 //#21489e Second
 body{
    font-family: 'Inter', sans-serif;
    color: #100d0d;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
